/* Test 7: Date in headers */
/* CSS doesn't have a native date function - we'd need to inject it */
/* Testing if we can use CSS content with string concatenation */

:root {
  --font-body: "Georgia", serif;
  --font-size: 12pt;
  --color-text: #333;
  --doc-date: "December 30, 2024";  /* Would be injected by our system */
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  color: var(--color-text);
  line-height: 1.6;
}

h1 {
  string-set: doctitle content(text);
}

@page {
  size: A4;
  margin: 25mm 20mm;

  @top-left {
    content: string(doctitle);
    font-size: 10pt;
    color: #666;
  }

  @top-right {
    /* Can we use CSS custom properties in content? */
    content: var(--doc-date);
    font-size: 10pt;
    color: #666;
  }

  @bottom-center {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 10pt;
    color: #666;
  }
}
