/* Paged.js CSS Paged Media test */

:root {
	--font-body: "Georgia", serif;
	--font-size: 12pt;
	--color-text: #333;
}

body {
	font-family: var(--font-body);
	font-size: var(--font-size);
	line-height: 1.6;
	color: var(--color-text);
}

h1,
h2,
h3 {
	font-family: "Helvetica Neue", sans-serif;
	margin-top: 1.5em;
}

h1 {
	font-size: 2em;
	text-align: center;
	string-set: doctitle content(text);
}

h2 {
	font-size: 1.5em;
	string-set: chaptertitle content(text);
}

/* CSS Paged Media - this is what paged.js polyfills */
@page {
	size: A4;
	margin: 25mm 20mm 30mm 20mm;

	@top-left {
		content: string(doctitle);
		font-size: 10pt;
		color: #666;
	}

	@top-right {
		content: string(chaptertitle);
		font-size: 10pt;
		font-style: italic;
		color: #666;
	}

	@bottom-center {
		content: "Page " counter(page) " of " counter(pages);
		font-size: 10pt;
		color: #666;
	}
}

@page :first {
	@top-left {
		content: none;
	}
	@top-right {
		content: none;
	}
}

/* Footnotes - paged.js feature */
.footnote {
	float: footnote;
	font-size: 0.9em;
}

::footnote-call {
	content: counter(footnote);
	font-size: 0.7em;
	vertical-align: super;
}

::footnote-marker {
	content: counter(footnote) ". ";
}
