/*
 * Pandoc Theme
 * Based on: https://gist.github.com/killercup/5917178
 * Style: Classic serif typography for long-form reading
 */

/* ==========================================================================
   1. Variables
   ========================================================================== */

:root {
	--font-body:
		Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	--font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
	--font-size: 12pt;
	--line-height: 1.7;

	--color-text: #444;
	--color-text-muted: #666;
	--color-heading: #111;
	--color-background: #fefefe;
	--color-primary: #0645ad;
	--color-border: #aaa;
	--color-border-light: #ddd;
	--color-code-bg: #f8f8f8;
}

/* ==========================================================================
   2. Page & Base
   ========================================================================== */

@page {
	size: a4;
	margin: 20mm;
}

html {
	font-size: 100%;
}

body {
	font-family: var(--font-body);
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--color-text);
	background-color: var(--color-background);
}

/* ==========================================================================
   3. Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-heading);
	font-weight: normal;
	line-height: 1.25;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: 2.5em;
	margin-top: 1em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* Document header styling */
.title {
	text-align: center;
}

.author {
	font-size: 1.2em;
	text-align: center;
	color: var(--color-text-muted);
}

.date {
	text-align: center;
	color: var(--color-text-muted);
}

/* ==========================================================================
   4. Block Elements
   ========================================================================== */

p {
	margin: 1em 0;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border-light);
	margin: 2em 0;
	padding: 0;
}

blockquote {
	margin: 1em 0;
	padding-left: 1.5em;
	border-left: 4px solid var(--color-border-light);
	color: var(--color-text-muted);
	break-inside: avoid;
}

blockquote > p:first-child {
	margin-top: 0;
}
blockquote > p:last-child {
	margin-bottom: 0;
}

/* ==========================================================================
   5. Lists
   ========================================================================== */

ul,
ol {
	margin: 1em 0;
	padding-left: 2em;
}

li {
	margin-top: 0.25em;
}

li > p:first-child {
	margin-top: 0;
}
li > p:last-child {
	margin-bottom: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0.3em 0;
}

dl {
	margin: 1em 0;
}

dt {
	font-weight: 600;
	margin-top: 0.8em;
}

dt:first-child {
	margin-top: 0;
}

dd {
	margin: 0 0 0.8em 2em;
}

dd:last-child {
	margin-bottom: 0;
}

/* ==========================================================================
   6. Links
   ========================================================================== */

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ==========================================================================
   7. Code
   ========================================================================== */

code,
kbd,
samp {
	font-family: var(--font-mono);
	font-size: 0.9em;
}

:not(pre) > code {
	background-color: var(--color-code-bg);
	padding: 0.1em 0.3em;
	border-radius: 3px;
}

pre {
	font-family: var(--font-mono);
	font-size: 0.9em;
	background-color: var(--color-code-bg);
	padding: 1em;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	break-inside: avoid;
}

pre > code {
	background: none;
	padding: 0;
	font-size: inherit;
}

kbd {
	background-color: var(--color-code-bg);
	border: 1px solid var(--color-border);
	border-radius: 3px;
	padding: 0.1em 0.4em;
}

/* ==========================================================================
   8. Tables
   ========================================================================== */

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1.5em 0;
}

th,
td {
	padding: 0.4em 1em;
	text-align: left;
	vertical-align: top;
	border: 1px solid var(--color-border-light);
}

th {
	font-weight: 600;
	background-color: #eee;
}

/* ==========================================================================
   9. Media
   ========================================================================== */

img {
	max-width: 100%;
	height: auto;
}

figure {
	display: block;
	margin: 1.5em 0;
	text-align: center;
}

figure img {
	margin: 0 auto;
}

figcaption {
	font-size: 0.9em;
	color: var(--color-text-muted);
	font-style: italic;
	margin-top: 0.5em;
}

/* ==========================================================================
   10. Inline Elements
   ========================================================================== */

strong,
b {
	font-weight: 600;
}

em,
i,
dfn {
	font-style: italic;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

mark {
	background-color: #ff0;
	padding: 0.1em 0.2em;
}

ins {
	background-color: #ff9;
	text-decoration: none;
}

del {
	color: var(--color-text-muted);
	text-decoration: line-through;
}

abbr[title] {
	text-decoration: underline dotted;
	cursor: help;
}

/* ==========================================================================
   11. Print
   ========================================================================== */

@media print {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
	}

	pre,
	blockquote,
	table,
	figure,
	img,
	tr {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	/* Show URLs after links when print_urls is enabled */
	.print-urls a[href^="http"]:after {
		content: " (" attr(href) ")";
		font-size: 85%;
		color: var(--color-text-muted);
	}
}
