/* Images test CSS */
:root {
	--font-body: system-ui, sans-serif;
	--font-size: 12pt;
	--color-text: #333;
}

/* Make images in header/footer small */
.hf img {
	height: 16px;
	width: auto;
	vertical-align: middle;
}
