/* Web fonts test CSS */
/* Using Abril Fatface - a very distinctive decorative serif font */
@font-face {
	font-family: "Abril Fatface";
	src: url("/home/folk/.local/share/fonts/AbrilFatface-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-body: "Abril Fatface", serif;
	--font-size: 12pt;
	--color-text: #333;
}

body {
	font-family: var(--font-body);
}
